#content {
  background-color: #7b2a2b;
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto; }
  .example {
    display: grid;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}

.degradado { /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */ 
  background: -prefix-linear-gradient(left, blue, white); /*Salvaguarda 2 */
  background-color: #7db9e8; /*Salvaguarda 3*/
 }